<li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
    <form class="nav-link form-inline mt-2 mt-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Blog Ara" />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="mdi mdi-magnify"></i>
                </span>
            </div>
        </div>
    </form>
</li>