<nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
        <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="/Writer/Blog/MyBlogList"><img src="~/template/assets/images/logo-mini.svg" alt="logo" /></a>
        <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
            <i class="mdi mdi-menu"></i>
        </button>
        <ul class="navbar-nav">
            
            @await Component.InvokeAsync("_AdminNavbarNotificationsPartial")
            @await Component.InvokeAsync("_AdminNavbarMessagesPartial")
            @await Component.InvokeAsync("_AdminNavbarSearchPartial")
            
            
        </ul>
        @await Component.InvokeAsync("_AdminNavbarUserPartial")
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>