################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyBlog/FileContentIndex/5a0cfd42-ad22-4356-bce5-46c85aa8d636.vsidx
/.vs/MyBlog/FileContentIndex/661ee2dc-1b2f-448f-866b-b10692125745.vsidx
/.vs/MyBlog/FileContentIndex/80ea3c5f-4bc6-409b-a3f1-49b30fd35619.vsidx
/.vs/MyBlog/FileContentIndex/8d2094d9-f115-448d-840d-1bc7aff44495.vsidx
/.vs/MyBlog/FileContentIndex/8de6873b-3c0d-472b-b92e-7938b68d72d4.vsidx
/.vs/MyBlog/FileContentIndex/bdc56e43-310e-4a05-8fc4-35fb792f8ee7.vsidx
/.vs/MyBlog/FileContentIndex/f73be791-7467-4be8-b9d9-fb99c4c8b397.vsidx
/.vs/MyBlog/FileContentIndex/80ea3c5f-4bc6-409b-a3f1-49b30fd35619.vsidx
/.vs/MyBlog/FileContentIndex/661ee2dc-1b2f-448f-866b-b10692125745.vsidx
/.vs/MyBlog/FileContentIndex/5a0cfd42-ad22-4356-bce5-46c85aa8d636.vsidx
