
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <div class="container">
       
            <div class="form-group mt-1">
            <h3>Id : @ViewBag.userId Hoşgeldiniz :  @ViewBag.fullName</h3>
               
            </div>

       
    </div>
</head>
<body>
</body>
</html>
