@model Notification
@{
    ViewData["Title"] = "NotificationDetail";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Bildirim Sayfası</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bildirimler</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Bildirim Detayı </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bildirim Detayı</h4>
                    <p class="card-description">
                        Yöneticiniz tarafından gönderilen bildirim detayı.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Tarih</label>
                                        <input class="form-control" type="datetime" value="@Model.CreatedDate.ToString(" dd.MM.yyyy ")" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Başlık</label>
                                        <input class="form-control" value="@Model.Title" disabled />
                                    </td>
                                 </tr>
                                <tr>
                                    <td>
                                        <label>Açıklama</label>
                                        <textarea class="form-control" rows="5" disabled>@Model.Description
                                        </textarea>
                                    </td>
                                </tr>
                               
                                   
                                   
                                    <td><a href="/Writer/Notification/NotificationList" class="btn btn-success">Bildirim Listesi</a></td>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

