<li class="nav-item dropdown d-none d-sm-flex">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-email-outline"></i>
        <span class="count count-varient2">3</span>
    </a>
    <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Messages</h6>
        <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow">
                <span class="badge badge-pill badge-success">Request</span>
                <p class="text-small text-muted ellipsis mb-0"> Suport needed for user123 </p>
            </div>
            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
        </a>
        <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow">
                <span class="badge badge-pill badge-warning">Invoices</span>
                <p class="text-small text-muted ellipsis mb-0"> Invoice for order is mailed </p>
            </div>
            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
        </a>
        <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow">
                <span class="badge badge-pill badge-danger">Projects</span>
                <p class="text-small text-muted ellipsis mb-0"> New project will start tomorrow </p>
            </div>
            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
        </a>
        <h6 class="p-3 mb-0">See all activity</h6>
    </div>
</li>