<ul class="navbar-nav navbar-nav-right ml-lg-auto">

    <li class="nav-item nav-profile dropdown border-0">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
            <img class="nav-profile-img mr-2" alt="@ViewBag.userName" src="@ViewBag.userImage" />
            <span class="profile-name">@ViewBag.userName</span>
        </a>
        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="/Writer/Profile/EditProfile">
                <i class="mdi mdi-cached mr-2 text-success"></i> Profilim
            </a>
            <a class="dropdown-item" href="/Writer/Profile/LogOut">
                <i class="mdi mdi-logout mr-2 text-primary"></i> Çıkış Yap
            </a>
        </div>
    </li>
</ul>