
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}

<div class="categories__grid__post">
    <div class="row">
        @await Component.InvokeAsync("_BlogListComponentPartial")
        <div class="col-lg-4 col-md-4">
            <div class="sidebar__item">
                @await Component.InvokeAsync("_AboutComponentPartial")
                @await Component.InvokeAsync("_SocialMediaComponentPartial")

                @await Component.InvokeAsync("_Last5PostsComponentPartial")



                @await Component.InvokeAsync("_CategoryComponentPartial")

                @await Component.InvokeAsync("_SubscribeComponentPartial")


            </div>
        </div>
    </div>
</div>