<li class="nav-item nav-profile">
    <a href="#" class="nav-link">
        <div class="nav-profile-image">
            <img src="@ViewBag.userImage" alt="profile" />
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
            <span class="font-weight-medium mb-2">@ViewBag.userName</span>

        </div>
        <span class="badge badge-danger text-white ml-3 rounded">3</span>
    </a>
</li>